<h1><%= @the_user.username%></h1>

<dl>
<dt>ID</dt>
<dd><%= @the_user.id %></dd>

<dt>Username</dt>

<dt>Edit User</dt>

<dd>form goes here</dd>
</dl>

  <h2>Own photos (own photo count goes here))</h2>

<table border="1">
